//- include ../mixins/_header.pug
mixin category-card(txt, img)
	.category-card
		p !{txt}
		img(src="./img/category/cat"+ img +".webp", srcset="./img/category/cat"+ img +"@2x.webp 2x" alt="img" width="312" height="165" loading="lazy")
mixin category-card-ui(txt, img)
	.category-card
		p !{txt}
		img(src="../img/category/cat"+ img +".webp", srcset="../img/category/cat"+ img +"@2x.webp 2x" alt="img" width="312" height="165" loading="lazy")

mixin product-card(img, title, price)
	.product-card
		.product-card__img
			img.img-contain(src="./img/products/prod"+img+".webp", srcset="./img/products/prod"+img+"@2x.webp 2x" alt="img" loading="lazy")
		.product-card__desk
			.product-card__title !{title}
			.product-card__price от !{price} руб./м3
			button.btn Купить
mixin product-card-ui(img, title, price)
	.product-card
		.product-card__img
			img.img-contain(src="../img/products/prod"+img+".webp", srcset="../img/products/prod"+img+"@2x.webp 2x" alt="img" loading="lazy")
		.product-card__desk
			.product-card__title !{title}
			.product-card__price от !{price} руб./м3
			button.btn Купить

mixin breadcrumbs(...items)
	.breadcrumbs
		a(href="#!")
			svg.svg-logo
				use(href='./img/sprite.svg#svg-logo')
		each item in items
			a(href="#!") !{item}

mixin breadcrumbs-ui(...items)
	.breadcrumbs
		a(href="#!")
			svg.svg-logo
				use(href='../img/sprite.svg#svg-logo')
		each item in items
			a(href="#!") !{item}

mixin select(plh="Пример заполнения", inpName = 'input_name', label)
	.form-item&attributes(attributes)
		if label
			label #{label}
		.dropdown
			button.dropdown__button(type="button")
				span #{plh}
			.dropdown__list
				ul
					li.dropdown__list-item(data-value="Пример заполнения 1") Пример заполнения 1
					li.dropdown__list-item(data-value="Пример заполнения 2") Пример заполнения 2
					li.dropdown__list-item(data-value="Пример заполнения 3") Пример заполнения 3
					li.dropdown__list-item(data-value="Пример заполнения 4") Пример заполнения 4

			//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
			input.dropdown__input-hidden(type="text", name=""+ input_name)