//- include ../mixins/_header.pug
mixin category-card(txt, img)
	a(href="#!").category-card
		p !{txt}
		img(src="./img/category/cat"+ img +".webp", srcset="./img/category/cat"+ img +"@2x.webp 2x" alt="img" width="312" height="165" loading="lazy")
mixin category-card-ui(txt, img)
	a(href="#!").category-card
		p !{txt}
		img(src="../img/category/cat"+ img +".webp", srcset="../img/category/cat"+ img +"@2x.webp 2x" alt="img" width="312" height="165" loading="lazy")

mixin product-card(img, title, val, price)
	a(href="#!").product-card
		.product-card__img
			img.img-contain(src="./img/products/prod"+img+".webp", srcset="./img/products/prod"+img+"@2x.webp 2x" alt="img" loading="lazy")
		.product-card__desk
			.product-card__title !{title} #[span !{val}]
				
			.product-card__price от !{price}&nbsp;руб./м3
			button.btn Купить
mixin product-card-ui(img, title, val, price)
	a(href="#!").product-card
		.product-card__img
			img.img-contain(src="../img/products/prod"+img+".webp", srcset="../img/products/prod"+img+"@2x.webp 2x" alt="img" loading="lazy")
		.product-card__desk
			.product-card__title !{title} #[span !{val}]
				
			.product-card__price от !{price}&nbsp;руб./м3
			button.btn Купить

mixin breadcrumbs(...items)
	.breadcrumbs
		a(href="#!")
			svg.svg-logo
				use(href='./img/sprite.svg#svg-logo')
		each item in items
			a(href="#!") !{item}

mixin breadcrumbs-ui(...items)
	.breadcrumbs
		a(href="#!")
			svg.svg-logo
				use(href='../img/sprite.svg#svg-logo')
		each item in items
			a(href="#!") !{item}

mixin serv-card(img, title, txt)
	a.serv-card(href="#!" style="background-image: url(./img/services/serv"+ img +".webp)")
		.serv-card__title #{title}
		p !{txt}
		span.btn-outline Заказать услугу 
mixin blog-card(img)
	a.blog-card(href="#!" style="background-image: url(./img/blog/blog"+ img +".webp)")
		.blog-card__tag #trend
		.blog-card__title Противогололедный реагент&nbsp;(ПГР)
		.blog-card__date 18 июля

mixin select(plh="Пример заполнения", inpName = 'input_name', label)
	.form-item&attributes(attributes)
		if label
			label #{label}
		.dropdown
			button.dropdown__button(type="button") #{plh}
			
			.dropdown__list
				ul
					li.dropdown__list-item(data-value="Речной песок") Речной песок
					li.dropdown__list-item(data-value="Пример заполнения 2") Пример заполнения 2
					li.dropdown__list-item(data-value="Пример заполнения 3") Пример заполнения 3
					li.dropdown__list-item(data-value="Пример заполнения 4") Пример заполнения 4

			//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
			input.dropdown__input-hidden(type="text", name=""+ input_name)


