//- include ../mixins/_header.pug
mixin assort-card(txt, img)
	a(href="#!").assort-card
		p !{txt}
		img.img-contain(src="./img/category/cat"+ img +".webp", srcset="./img/category/cat"+ img +"@2x.webp 2x" alt="img" width="312" height="165" loading="lazy")
mixin assort-card-ui(txt, img)
	a(href="#!").assort-card
		p !{txt}
		img(src="../img/category/cat"+ img +".webp", srcset="../img/category/cat"+ img +"@2x.webp 2x" alt="img" width="312" height="165" loading="lazy")

mixin category-card(img, title, ...items)
	.category-card
		.category-card__img
			img.img-contain(src="../img/category/cat"+ img +".webp", srcset="../img/category/cat"+ img +"@2x.webp 2x" alt="img" width="763" height="321" loading="lazy")
		.category-card__body
			.category-card__title !{title}
			nav.category-card__links
				each item in items
					a(href="#!") !{item}

mixin product-card(img, title, val, price)
	.product-card
		a(href="#!").product-card__body
			.product-card__img
				img.img-contain(src="./img/products/prod"+img+".webp", srcset="./img/products/prod"+img+"@2x.webp 2x" alt="img" loading="lazy")
			.product-card__desk
				.product-card__title !{title} #[span !{val}]
					
				.product-card__price от !{price}&nbsp;руб./м3
		button.btn Купить
mixin product-card-ui(img, title, val, price)
	.product-card
		a(href="#!").product-card__body
			.product-card__img
				img.img-contain(src="../img/products/prod"+img+".webp", srcset="./img/products/prod"+img+"@2x.webp 2x" alt="img" loading="lazy")
			.product-card__desk
				.product-card__title !{title} #[span !{val}]
				.product-card__price от !{price}&nbsp;руб./м3
		button.btn Купить

mixin breadcrumbs(...items)
	.breadcrumbs
		a(href="#!")
			svg.svg-logo
				use(href='./img/sprite.svg#svg-logo')
		each item in items
			a(href="#!") !{item}

mixin breadcrumbs-ui(...items)
	.breadcrumbs
		a(href="#!")
			svg.svg-logo
				use(href='../img/sprite.svg#svg-logo')
		each item in items
			a(href="#!") !{item}
mixin city-block
	.city-selection
		p Ваш город
			span#city-name Санкт-Петербург?
		.city-selection__btn
			button.bold-txt(type="button" aria-label="Да" tabindex="0") Да
			button(type="button" aria-label="Нет" tabindex="1" data-btn="city-list") Нет
mixin serv-card(img, title, txt)
	.serv-card
		.serv-card__img
			img.wh-100(src="./img/services/serv"+ img +".webp", srcset="./img/services/serv"+ img +"@2x.webp 2x"  loading="lazy" width="600" height="399" alt="img")
		.serv-card__title #{title}
		p !{txt}
		.serv-card__footer
			a(href="#!").btn-outline Посмотреть проэкты
			a(href="#!").btn-outline Подать заявку
mixin blog-card(img)
	a.blog-card(href="#!" style="background-image: url(./img/blog/blog"+ img +".webp)")
		.blog-card__tag #trend
		.blog-card__title Противогололедный реагент&nbsp;(ПГР)
		.blog-card__date 18 июля

mixin select(plh="Пример заполнения", inpName = 'input_name', label)
	.form-item&attributes(attributes)
		if label
			label #{label}
		.dropdown
			button.dropdown__button(type="button") #{plh}
			
			.dropdown__list
				ul
					li.dropdown__list-item(data-value="Речной песок") Речной песок
					li.dropdown__list-item(data-value="Пример заполнения 2") Пример заполнения 2
					li.dropdown__list-item(data-value="Пример заполнения 3") Пример заполнения 3
					li.dropdown__list-item(data-value="Пример заполнения 4") Пример заполнения 4

			//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
			input.dropdown__input-hidden(type="text", name=""+ input_name)
mixin select2(plh="Пример заполнения", inpName = 'input_name', label)

	.form-dropdown.dropdown
		button.dropdown__button(type="button") Выбрать
		
		.dropdown__list
			ul
				li.dropdown__list-item(data-value="Речной песок") Речной песок
				li.dropdown__list-item(data-value="Пример заполнения 2") Пример заполнения 2
				li.dropdown__list-item(data-value="Пример заполнения 3") Пример заполнения 3
				li.dropdown__list-item(data-value="Пример заполнения 4") Пример заполнения 4

		//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
		input.dropdown__input-hidden(type="text", name=""+ input_name)
mixin post-card
	.post-card
		.post-card__img
			img.wh-100(src="./img/blog/post.webp", srcset="./img/blog/post@2x.webp 2x" alt="img" width="490" height="314" loading="lazy")
		.post-card__body
			.breadcrumbs
				a(href="#!") крыши
				a(href="#!") стройка
			.post-card__title Щебень для кровли
			p  #[a(href="#!") Щебень] на кровле – один из вариантов балласта, который используется для пригруза гидроизоляции плоской кровли. В балластной системе щебень считается самым доступным, эффективным и недорогим материалом для крепления и завершающего слоя кровельного пирога.
			a(href="single-blog.html").flex-link Читать статью 
				svg.svg-arrow-right
					use(href='./img/sprite.svg#svg-arrow-right')

mixin portfolio-card(img, br1, br2, title)
	.post-card
		.post-card__img
			img.wh-100(src="./img/portfolio/project"+ img +".webp", srcset="./img/portfolio/project"+ img +"2x.webp 2x" alt="img" width="490" height="314" loading="lazy")
		.post-card__body
			.breadcrumbs
				a(href="#!") #{br1}
				a(href="#!") #{br2}
			.post-card__title !{title}
			p Щебень на кровле – один из вариантов балласта, который используется для пригруза гидроизоляции плоской кровли. В балластной системе щебень считается самым доступным, эффективным и недорогим материалом для крепления и завершающего слоя кровельного пирога.
			a(href="single-blog.html").flex-link Читать статью 
				svg.svg-arrow-right
					use(href='./img/sprite.svg#svg-arrow-right')
mixin building-card(img, title, txt)
	.portfolio-card
		.portfolio-card__img
			img(src="./img/portfolio/project"+ img +".webp", srcset = "./img/portfolio/project"+ img +"@2x.webp 2x" width="768"  alt="img" height="359" loading="lazy")
		
		.portfolio-card__title !{title}
		p !{txt}
		.flex
			a(href="single-blog.html").btn Посмотреть проекты
			a(href="single-blog.html").btn Подать заявку
				
				
mixin promo-dark(img, title, btnTxt)
	.promo-dark.promo.promo-slim(style="background-image: url(./img/"+ img+".webp)")&attributes(attributes)
		.container
			.promo-top
				.breadcrumbs
					+breadcrumbs('каталог', 'Отделочные и строй материалы', ''+ title)
				+city-block
			.promo-content
				h1.h1 !{title}
				.promo-txt
					p Возьмите любую спецтехнику в аренду в СПБ на срок от 3-х смен и получите скидку 5%. Торопитесь, срок действия акции ограничен!
				a(href="#!").btn.btn--white #{btnTxt}

mixin counter
	.counter
		button(type="button" disabled aria-label="Уменьшить количество").counter-minus
		span.counter-value 2
		button(type="button" aria-label="Увеличить количество" ).counter-plus
mixin counter-light
	.counter.counter--light
		button(type="button" disabled aria-label="Уменьшить количество").counter-minus
		span.counter-value 0
		button(type="button" aria-label="Увеличить количество" ).counter-plus

mixin counter-small
	.counter.counter-small
		button(type="button" disabled aria-label="Уменьшить количество").counter-minus
		span.counter-value 0
		button(type="button" aria-label="Увеличить количество" ).counter-plus


mixin flipCard(img=1)
	//SINGLE CARD
	.flip-card
		//CARD FRONT
		.flip-card__front
			.flip-card__img
				img.img-contain(src="../img/products/prod"+img+".webp", srcset="../img/products/prod"+img+"@2x.webp 2x" width="372" height="233" alt="img" loading="lazy")
			.flip-card__desk
				.flip-card__title 
					.title-20 Гусеничный экскаватор<br>
						| #[span Hyundai R 210LC-7]
					span.availabel В наличии
				ul.txt-12
					li Мощность двигателя: 107 кВт
					li Вес: 21700 кг
					li Глубина копания: 6740 MM
					li Глубина копания: 6740 MM
					li Глубина копания: 6740 MM
				
				.price-block
					.price-block__item 
						p от 18000 руб. / смена
			.flip-card__btn
				button.btn.flip-card-btn Арендовать
		
		//CARD BACK
		.flip-card__back
			.detailed-card
				.detailed-card-group
					span.detailed-art.txt-12 Код: 105703
					.detailed-title.txt-24 Гусеничный экскаватор Hyundai R 210LC-7
					.rating-block.flex
						.rating-stars
						span.txt-12 39 отзывов
					span.availabel В наличии
					ul.txt-12
						li Мощность двигателя: 107 кВт
						li Вес: 21700 кг
						li Глубина копания: 6740 мм
						li Глубина копания: 6740 мм
						li Глубина копания: 6740 мм
					
					.price-block
						.price-block__item
							p от 15 870 руб./смена
				
				.detailed-card-group
					.detailed-card__row.flex
						.select-date.select-date--light
							.form-item.select-date-start
								input.start-date(type='text' name="startDay" value="22.01.2025")
							span -
							.form-item.select-date-end
								input.end-date(type='text' name="endtDay" value="26.01.2025")
						+counter-small
					.detailed-total
						span.txt-12 Стоимость
						p.amount 70 000 руб *
						span.txt-12 *Цена указана без учета доставки 
				.detailed-card__footer
					button.btn-primary Арендавать прямо сейчас 
					button.btn Добавить корзину

mixin mini-card(img, title, txt)
	a(href="#!").mini-card
		.mini-card__img
			img.img-contain(src="./img/mini-cards/mini"+ img +".webp",srcset="./img/mini-cards/mini"+ img+"@2x.webp 2x" alt="img" width="96" height="96")
		.mini-card__txt
			.title-20 #{title}
			p #{txt}

